alias dotfiles="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"

alias g="git"

# Clear DNS cache
alias flush-dns="sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# Show/hide hidden files in Finder
alias show-hidden-files="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide-hidden-files="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"

# Homebrew
alias brew-update="brew update; brew outdated --greedy"
alias brew-upgrade="brew upgrade --greedy"
alias brew-clean="brew cleanup"

# System info
alias cpuinfo="sysctl -n machdep.cpu.brand_string"

# youtube-dl
alias youtube-dl="youtube-dl --format '((571/272/402/337/315/313/401/336/308/400/271/335/303/299/399/137/248/334/302/298/398/247/136/333/244/135/397/332/243/134/396/331/242/133/395/330/160/394/278)[protocol!=http_dash_segments])+(bestaudio[acodec=opus]/bestaudio[protocol!=http_dash_segments])/best'"

