alias dotfiles="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"

alias g="git"

# Clear DNS cache
alias flush-dns="sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# Show/hide hidden files in Finder
alias show-hidden-files="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide-hidden-files="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"

# Homebrew
alias brew-update="brew update; brew outdated; brew cask outdated"
alias brew-clean="brew cleanup"

# System info
alias cpuinfo="sysctl -n machdep.cpu.brand_string"
