[alias]
	# List contributors with number of commits
	contributors = shortlog --summary --numbered --all

	# Show commit graph for all branches
	graph = log --all --date-order --decorate --graph --oneline

	# List aliases
	aliases = config --get-regexp alias

  # Shorthands for commonly used commands
	a = add
	b = branch
	c = commit
	f = fetch
	g = log --all --date-order --decorate --graph --oneline
	m = merge
	r = rebase --interactive
	s = status

[core]
	# Use custom .gitignore
	excludesfile = ~/.gitignore

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
