[alias]
    # List aliases
    aliases = config --get-regexp alias

    # List contributors with number of commits
    contributors = shortlog --summary --numbered --all

    # Show commit graph for all branches
    graph = log --all --date-order --decorate --graph --oneline

    # Ignore changes to a committed file
    untrack = update-index --assume-unchanged
    track = update-index --no-assume-unchanged

    # Shorthands for commonly used commands
    a = add
    b = branch
    c = commit
    f = fetch
    g = log --all --date-order --decorate --graph --oneline
    m = merge
    pr = pull --rebase
    r = rebase --interactive
    s = status
    sl = shortlog

[core]
    # Use custom .gitignore
    excludesfile = ~/.gitignore

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
